body{
    background:gold;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 25px;
    font-style: italic;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background:aliceblue;
    text-align: justify;
}

img{
    width: 100%;
    border-radius: 20px;
    display: flex;
}

a{
    text-decoration: none;
    font-size: 18px;  
    color:aliceblue;  
}

a:hover{
    background: white;
}

form{
    text-align: center;
}

footer{
    text-align: center;
    padding:20px;
    margin: 25px;
    background:brown;

}